

.form__input {
    height: 50px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: $white;
    transition: all 0.2s ease-in;
    

    &::placeholder{
        color: $pliceholder-color;
        font-size: 14px;
    }

    &:focus{
        background-color: rgba(255, 255, 255, 0.26);
    }
}

.form__privacy {
    font-size: 13px;
    line-height: 1.2;
    color: $privasy;
    text-align: center;
}

.form__button {
    height: 50px;
    font-size: 16px;
    color: $white;
    font-weight: 700;
    text-align: center;
    padding: 12px;
    background-color: $accent;
    transition: all 0.2s ease-in;
    

    &:hover{
        background-color: saturate($accent, 10%);
    }
}