   @mixin decorNumber {
       z-index: -1;
       opacity: 0.02;
       font-family: $font-accent;
       position: absolute;
       font-size: 400px;
       font-weight: 700;
       line-height: 1.3;
       top: 0px;
   }

   @mixin mediaTablet {
       @media (max-width:$tablet) {
           @content
       }
   }